@import '../../stylesheets/index.less';

@prefix-cls: ~'@{component-prefix}-range-panel';

.@{prefix-cls} {
  &__header {
    border: none;
    height: 36px;
    padding: 16px;
    display: flex;

    &__text {
      font-size: 14px;
      line-height: 34px;

      /* $palette/black/6 */
      color: #313e75;
    }
    &__text:not(:first-child) {
      margin-left: 8px;
    }

    &__input {
      width: 160px;
      margin-left: 8px;
    }

    &__input-number {
      width: 80px;
      margin-left: 8px;
    }

    &__options {
      margin-left: 8px;
    }

    &__button {
      margin-left: 24px;
    }
  }

  &__divider {
    height: 0;
    margin: 0 16px;

    /* Border/Border-1 */
    border-bottom: 1px solid #e7eaf9;
  }

  .gio-range-calendar {
    border: none;
    box-shadow: none;
  }
}
