@import '../../list/style/index.less';
@import '../../selector/style/index.less';
@event-selector-prefix-cls: ~'@{component-prefix}-event-selector';
@event-selector-dropdown-cls: ~'@{component-prefix}-event-selector-dropdown';
@event-selector-input-tooltip-cls: ~'@{component-prefix}-event-selector-input-tooltip';
.@{event-selector-prefix-cls} {
  // &.@{dropdown-prefix-cls} {
  //   max-width: 100%;
  //   width: fit-content;
  // }

  .inner-input-wrap {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: inherit;
    max-width: 100%;
    .icon {
      margin-right: 12px;
    }
  }
}
.@{event-selector-dropdown-cls} {
  max-width: 100%;
  // width: fit-content;
}
.@{event-selector-input-tooltip-cls} {
  max-width: 360px;
}
