@import '../../../../stylesheets/index.less';
@event-picker-prefix-cls: ~'@{component-prefix}-event-page-picker';

.@{event-picker-prefix-cls} {
  * {
    box-sizing: border-box;
  }

  position: relative;
  &-trigger {
    width: 100%;
  }
}
