.mock-attribute-select {
  width: 160px;
  height: 20px;
  background: burlywood;
}

.expression-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-right: 16px;
  margin: 8px;
  .express-regular_select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .expression-icon {
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background-color: #dfe4ee;
    border-radius: 12px;
    margin-right: 8px;
  }

  .filter-condition_select {
    border-radius: 4px;
    background-color: #f1f2f8;
    width: 122px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #313e75;
  }
}
