@import '~@gio-design/components/es/components/alert/style/index.less';
@import '~@gio-design/components/es/components/checkbox/style/index.less';
@import '~@gio-design/components/es/components/button/style/index.less';
@import '~@gio-design/components/es/components/input/style/index.less';
@import '~@gio-design/components/es/components/search-bar/style/index.less';
@import '~@gio-design/components/es/components/loading/style/index.less';
@import '~@gio-design/components/es/components/tabs/style/index.less';
@import '~@gio-design/components/es/components/popover/style/index.less';
@import '~@gio-design/components/es/components/list/style/option.less';
@import '~@gio-design/components/es/components/list/style/sort.less';
@import '../../empty-prompt/style/index.less';

.gio-user-picker {
  width: 392px;
  height: 500px;
  margin: 0;
  padding: 20px 0 0;
  border: 1px solid #e7eaf9;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 #ebedf5;

  &__header {
    height: 36px;
    margin: 0 20px;

    .gio-searchbar {
      display: inline-block;
      vertical-align: top;
      width: 300px;

      .gio-input {
        width: 100%;
      }

      input {
        box-sizing: border-box;
      }
    }

    .gio-btn {
      margin-left: 16px;
      width: 36px;
      height: 36px;
      padding: 9px !important;
    }

    .gio-alert {
      position: absolute;
      width: 320px;
      z-index: 9999;
      top: 72px;
    }
  }

  .gio-tabnav {
    margin: 8px 20px 2px;
  }

  .gio-list-wrapper {
    padding: 0 20px;

    .gio-select-option {
      box-sizing: border-box;
    }
  }

  .gio-empty {
    margin-top: 100px;
  }

  .gio-loading-wrapper {
    height: 406px;
    padding-top: 170px;
    text-align: center;
  }
}
