@import '../../picker/style/index.less';
@import '~@gio-design-new/components/es/components/tag/style/index.less';
// @import '@gio-design-new/components/es/components/tooltip/style/index.css';
@property-picker-prefix-cls: ~'@{component-prefix}-property-picker';

.@{property-picker-prefix-cls}-detail {
  color: #7b819c;
  min-height: 20px;

  &__name {
    color: #313e75;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
  }
  &__tag {
    margin-left: 16px;
  }
  &__main {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 4px;
    & > div:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__divide {
    display: block;
    margin: 16px 0;
    border-bottom: 1px solid #dce0f2;
  }
  &__bottom {
    margin-bottom: 4px;
    & > div:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__value {
    color: #313e75;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 22px;
  }
}
.@{property-picker-prefix-cls}-trigger {
  height: 30px;
  padding: 4px 8px;
  line-height: 22px;
  border-radius: 4px;
  background-color: #fff;
  color: #5c4e61;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  &.open {
    .caret {
      transform: rotate(180deg);
    }
  }
  .caret {
    transition: all 0.3s;
    color: #5c4e61;
  }

  cursor: pointer;
  &:hover {
    background-color: #ebedf5;
  }
  &:hover &__value {
    color: #1248e9;
  }
  &-input {
    margin-right: 16px;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
    font-size: 14px;
  }
  &__placeholder {
    color: #dbdee8;
  }
  &__value {
    color: #313e75;
  }
}
